.container {
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 1px #2b21180a,0 2px 4px #2b21180f;
  max-width: 100%;
  margin-bottom: 24px;
  padding: 20px;
  margin-top: 12px;
}

body {
  background-color: #fcf8f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#demo {
  display: flex;
  justify-content: center;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;

  &__wrapper {
    &__slide {
      &:last-child {
        .demo-slide {
          margin-right: 0;
        }
      }
    }
  }
}

.demo-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius:5px;

  &--fixed {
    width: 200px;
    height: 200px;
  }
}
