.container {
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 1px #2b21180a,0 2px 4px #2b21180f;
  max-width: 100%;
  margin-bottom: 24px;
  padding: 20px;
  margin-top: 12px;
}

body {
  background-color: #fcf8f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#demo {
  display: flex;
  justify-content: center;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;

  &__wrapper {
    max-height: 300px;
    &__slide {
      &:last-child {
        .demo-slide {
          margin-right: 0;
          margin-top: 20px;
        }
      }
    }
  }
}

.demo-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  border-radius:5px;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  user-select: none;
  opacity: 0.5;

  &--vertical {
    margin-bottom: 10px;
    width: 100%;
    height: 125px;
  }

  &--fixed {
    width: 200px;
    height: 200px;
  }

  img {
    width: 100%;
  }

  &.active-slide {
    border:  1px solid lightgrey;
    height: 90px; /* Increase size for active slide */
    width: 90px;
    margin-top: 0;
    opacity: 1;

  }
}

.single-slide {

  .slider {

    &__wrapper {
      scroll-snap-type: x mandatory;
      height: 300px;

      &--is-dragging {
        scroll-snap-type: initial;
      }

      &__slide {
        scroll-snap-align: center;
        display: flex;
        flex: 1 0 100%;

        .demo-slide {
          margin: 0;
        }
      }
    }
  }
}
