.slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 48px;
  width: 48px;
  margin: auto 0;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(32, 32, 32, .1);
  transition: box-shadow .2s ease-in-out;

  &__icon {
    fill: #554c44;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(32, 32, 32, .2);
  }

  @media (hover: hover) {
    display: flex;
  }

  &--hidden {
    display: none;
  }

  &__next {
    &--horizontal {
      right: 5px;
    }

    &--vertical {
      margin: 0 auto;
      bottom: 5px;
      left: 0;
      right: 0;
      top: initial;

      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__prev {
    &--horizontal {
      left: 5px;
    }

    &--vertical {
      margin: 0 auto;
      top: 5px;
      bottom: initial;
      left: 0;
      right: 0;

      svg {
        transform: rotate(90deg);
      }
    }
  }
}
