.slider {
  position: relative;

  &__button {
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 48px;
    width: 48px;
    position: absolute;
    display: none;

    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #C9C9C9;
    background-color: white;
    font-size: 18px;

    @media (hover: hover) {
      display: flex;
    }

    &--hidden {
      display: none;
    }

    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }
  }

  &__wrapper {

    // Prevent the browser from going back in history when there is no scroll area left
    overscroll-behavior-x: contain;

    // Hide the scrollbars
    -ms-overflow-style: none; // for Internet Explorer, Edge
    scrollbar-width: none; // for Firefox

    &::-webkit-scrollbar {
      display: none; // for Chrome, Safari, and Opera
    }

    display: flex;
    flex-direction: row;
    overflow-x: auto;

    scroll-snap-type: x proximity;

    // Disable scroll snapping when we assume there's a mouse
    @media (hover: hover) {
      scroll-snap-type: initial;
    }

    // Enable smooth scroll, but only when not dragging the slider with a mouse
    &:not(.is-dragging) {
      scroll-behavior: smooth;
    }

    &.is-scrollable {
      cursor: move;
    }

    &.is-dragging {
      cursor: grabbing;
      user-select: none;
    }
  }
}
