.slider {
  position: relative;

  &__wrapper {
    display: flex;
    scroll-behavior: smooth;

    // Hide the scrollbars
    -ms-overflow-style: none; // for Internet Explorer, Edge
    scrollbar-width: none; // for Firefox

    &::-webkit-scrollbar {
      display: none; // for Chrome, Safari, and Opera
    }

    &--is-scrollable {
      cursor: move;
    }

    &--is-horizontal {
      // Prevent the browser from going back in history when there is no scroll area left
      overscroll-behavior-x: contain;
      flex-direction: row;
      overflow-x: auto;
      scroll-snap-type: x proximity;
    }

    &--is-vertical {
      // Prevent the browser from going back in history when there is no scroll area left
      overscroll-behavior-y: contain;
      scroll-snap-type: y proximity;
      flex-direction: column;
      overflow-y: auto;
    }

    // Disable scroll snapping when we assume there's a mouse
    @media (hover: hover) {
      scroll-snap-type: initial;
    }

    &--is-dragging {
      scroll-behavior: initial;
    }

    &--is-dragging {
      cursor: grabbing;
      user-select: none;
    }

    &__slide {
      scroll-snap-align: start;
      white-space: nowrap;
    }
  }
}
